[Desktop Entry]
Type=Application
Name=Gtk Bookmarks Automount Daemon
Exec=/usr/bin/python /usr/bin/gtk-bookmarks-automount
OnlyShowIn=GNOME;Unity;
NoDisplay=true
StartupNotify=false
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=false
X-Ubuntu-Gettext-Domain=gtk-bookmarks-automount
